div .page-header {
    padding-top: 20px;
}

div .header-spc {
    padding-top: 20px;
}

div .rainbow {
    background-image: -webkit-gradient(linear,0 50%,100% 50%,color-stop(0%,#e65d5b),color-stop(14%,#f3af32),color-stop(28%,#e6d168),color-stop(40%,#7bd369),color-stop(55%,#50c6a2),color-stop(70%,#a7d37c),color-stop(85%,#a7b958),color-stop(100%,#e35c57));
    background-image: -webkit-linear-gradient(left,#e65d5b,#f3af32 14%,#e6d168 28%,#7bd369 40%,#50c6a2 55%,#a7d37c 70%,#a7b958 85%,#e35c57);
    background-image: -moz-linear-gradient(left,#e65d5b,#f3af32 14%,#e6d168 28%,#7bd369 40%,#50c6a2 55%,#a7d37c 70%,#a7b958 85%,#e35c57);
    background-image: -o-linear-gradient(left,#e65d5b,#f3af32 14%,#e6d168 28%,#7bd369 40%,#50c6a2 55%,#a7d37c 70%,#a7b958 85%,#e35c57);
    background-image: linear-gradient(left,#e65d5b,#f3af32 14%,#e6d168 28%,#7bd369 40%,#50c6a2 55%,#a7d37c 70%,#a7b958 85%,#e35c57);
}

div .separator {
    clear: both;
    height: .2em;
}